<!DOCTYPE HTML>
<html>
	<head>
		<title>Prativa's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Prativa</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li ><a href="/">About Me</a></li>
							<li><a href="/skills">Skills</a></li>
							<li class="active"><a href="/experience">Experience</a></li>
							<li><a href="/projects">Projects</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">

								<!-- Text stuff -->
									<header>
										<h2>Co-Founder </h2>
										<p>- <i>Chisapani Restaurant</i> (2016 - Present)</p>
									</header>
									<p>Monitored sales and implemented plans to increase sales. Supervised staff for providing better customer service.
									</p>

									<header>
										<h2>Customer Service Representative</h2> 
										<p><i> - Nepal Investment Bank Ltd.</i> (2017 - 2018)</p>
									</header>
									<p>Solved customer’s problems and complaints
									</p>

									<header>
										<h2>Internship</h2>
										<p>  - <i>Nepal Investment Bank Ltd.</i> (2016) </p>
									</header>
									<p>Maintained proper records of checkbooks, debit cards. Handled phone calls and customer queries.

									</p>
									
									<hr />

									

								<!-- Box -->
									<h2>Box</h2>
									<div class="box">
										<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, voluptatem labore porro eligendi officia reiciendis dignissimos mollitia sunt? Perferendis beatae, tempore consequatur eligendi assumenda ad vel a minus expedita! Doloremque.</p>
									</div>

									<hr />
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						
							<section>
								<h3>Email</h3>
								<p><a href="#">c7.paru@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-linkedin"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>
			</div>

		
	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>