<!DOCTYPE HTML>
<html>
	<head>
		<title>Prativa's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Prativa</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li ><a href="/">About Me</a></li>
							<li><a href="/skills">Skills</a></li>
							<li><a href="/experience">Experience</a></li>
							<li class="/projects"><a href="projects.html">Projects</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-linkedin"><span class="label">Facebook</span></a></li>
						
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2><a href="#">Mini Game Party</a></h2>
									</header>
									<a href="#" class="image fit"><img src="{% static 'images/minigame.png' %}" alt="" /></a>
									<p>Tech Used: React, MongoDB, Redux</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">beautyBook</a></h2>
									</header>
									<a href="#" class="image fit"><img src="{% static 'images/beautybook.png' %}" alt="" /></a>
									<p>Tech Used: Spring Suite, Bcrypt </p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h2><a href="#">Scallops Dating App</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
									<p>Tech used: Django, Ajax, Mysql, Bcrypt</p>
									<ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul>
								</article>
								</section>
						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<!-- <a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a> -->
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>

				<!-- Footer -->
						<!-- Footer -->
						<footer id="footer">
						
							<section>
								<h3>Email</h3>
								<p><a href="#">c7.paru@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-linkedin"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

			</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>